.input {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #5C6370;
    padding: 20px;
    border-radius: 79px;
    border: none;
    width: 263px;
    height: 59px;
    background: #EDEDED url(../../icons/navbar/search.svg) no-repeat 213px 10px;
}

.input.input__nav {
    margin-left: 15px;
}

.input__price-filter {
    border: none;
    width: 100px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #3F4E65;
}