.first-line {
    padding: 14px;
    display: flex;
    justify-content: space-between;
}
.nav__img {
    width: 20px;
    height: 20px;
}
.nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-block__content {
    display: flex;
    align-items: center;

}

.nav__descr {
    padding-left: 15px;
}

.nav__text {
    line-height: 18px;
    color: #111111;
}

.nav__text.nav__text__bold {
    font-weight: 600;
    font-size: 14px;
}
.nav__text.nav__text__thin {
    font-weight: 300;
    font-size: 12px;
    color: #3F4E65;
}

.nav__info {
    display: flex;
    align-items: center;
}

.nav__info__text {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 64px;
}

.tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}

.time {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #3F4E65;
}

.call {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #3F4E65;
}

.nav__info__img {
    padding-left: 14px;
}

.second-line {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
}

.ul__horizontal {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.li__horizotal {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3F4E65;
}

.li__wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0px 14px 39px -11px rgb(0 0 0 / 8%);
    border-radius: 10px;
}

.input__category {
    outline: none;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0px 14px 39px -11px rgb(0 0 0 / 8%);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3F4E65;
    border: none;
    cursor: pointer;
    width: 160px;
}

.input__category.input__category__active {
    background: #ffc85e73;
}